body{
  background-color: cyan;
}

#header{
  font-size: 50px;
}


/*<style> stylesheet dont need title*/
.subtitle {          /*this is the class named subtitle*/
  color:blue;
  font-size:40px;
  text-decoration: underline;
}
/*</style>*/

.subtitle{
  color: yellow;    /*CSS ha override suru  above subtitle toiu class no iro uwagaki*/
}

/*this is the class*/
/*.special-hover {
color: green;
font-size: 30px;

}*/

.card{
  height: 200px;
  width: 200px;
  background-color: #59d676;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 50px;
  padding: 20px 15px;
}
